################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GithubProject/Properties
/GithubProject/obj
/.vs/GithubProject
/GithubProject/bin/Debug/netcoreapp2.1
